
body {
  padding: auto;
  margin: 0px;
  width: 100%;
  color:  white;
  animation: animate-bg 10s infinite ease-in-out;
  
}
.container{
  animation: animateBg 10s linear infinite;
  background-image: linear-gradient(0deg,#000000,#0a0a0a,#000000,#0a0a0a);
  background-size: 100% 300%;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

@keyframes animateBg {
  0% { background-position: 0% 100%; }
  100% { background-position: 0% 0%; }
}

.info {
  justify-content: center;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.info img {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 150px;
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.1);
}

.info h3 {
  text-align: center;
  margin: 0px;
}

.info h4 {
  margin: 0px;
  text-align: center;
}
.info h3,
h4 {
  text-align: center;
  margin-top: 20px;
}

.navigaton {
  text-align: center;
  margin: 20px;
}

.navigaton a {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  opacity: 25%;
  transition: all 0.3s ease 0s;
}

.navigaton a:hover {
  text-shadow: 0 0 15px whitesmoke;
  opacity: 100%;
  color: whitesmoke;
}
/* .navigaton nav {
}
.navigaton nav li a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  opacity: 25%;
}
.navigaton nav li a:hover {
  text-shadow: 0 0 15px cyan;
  opacity: 100%;
  color: white;
} */
.navabt {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navabt p{
  display: inline-block;
  margin: 0%;
  max-width: 600px;
}

.edu ul{
  display: inline-block;
  margin: 0%;
  max-width: 600px;
}

.skills li{
  display: inline-block;
  zoom: 1;
}
.skills li:before{
  content: '•';
}

.navabt, .navigaton ,.info{
  margin-top: 60px;
  margin-bottom: 60px;
}


