body {
    background: #222831;
    ;
    padding: auto;
    margin: auto;
    width: 100%;
    display: flex;
  }
  
  .container {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .info {
    justify-content: center;
    margin-top: 100px;
  }
  
  .info img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 50%;
  }
  
  .info h3 {
    text-align: center;
  }
  
  .info h4 {
    text-align: center;
  }
  
  .navigaton {
    display: flex;
  }
  
  .navigaton a {
    margin-left: auto;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    opacity: 25%;
  }
  
  .navigaton a:hover {
    text-shadow: 0 0 15px cyan;
    opacity: 100%;
    color: cyan;
  }
  
  .navabt {
    position: absolute;
    margin: 0 auto;
    padding: 0%;
  }
  
  .navabt p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
    padding: 1em;
  }
  