body {
    background: #222831;
    padding: auto;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .info {
    justify-content: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .info img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 250px;
  }
  
  .info h3 {
    text-align: center;
  }
  
  .info h4 {
    text-align: center;
  }
  
  .navigaton {
    display: flex;
  }
  
  .navigaton a {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    opacity: 25%;
  }
  
  .navigaton a:hover {
    text-shadow: 0 0 15px cyan;
    opacity: 100%;
    color: cyan;
  }
  
  .navabt {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
    padding: 1em;
  }